.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn--clear {
  border: 0;
  background: transparent;
}

svg,
.icon {
  display: inline-block;
  vertical-align: middle;
}

.btn--red {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(#e1252b, 1);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 4.3rem;
  height: 4.3rem;
  padding: 0 3rem;
  color: #fff;
  border: 0;
  border-radius: 4.7rem;
}

.player-control {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: rgba(#fff, .2);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);

  &:focus {
    outline: none;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    height: 50px;
    width: 50px;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
  }

  path {
    transition: stroke-dashoffset .1s linear;
    border-radius: 2px;

  }
}

.btn--social,
.btn--language {
  display: inline-block;
  border: 0;
  background: rgba(#fff, .2);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn--language {
  display: inline-block;
  border: 0;
  background: rgba(#fff, .2);
  border-radius: 50%;
  height: 4.3rem;
  width: 4.3rem;
  position: relative;

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn--discuss {
  height: 5rem;
  border: 0;
  line-height: 5rem;
  background: rgba(#fff, .2);
  padding: 0 3.7rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 4.7rem;
}
