.graph {
  display: flex;
  height: calc(100vh - 25rem);
  align-items: flex-end;
  justify-content: space-between;

  width: 1100px;
  padding-bottom: 6rem;
  margin-bottom: 3.5rem;

  margin-top: auto;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 60px;
    left: 0;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    height: 2px;
    width: 1100px;
  }
}

.ios--landscape {
  .graph {
    height: calc(100vh - 15rem);
  }
}

.graph__lines {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 3rem;
  padding-bottom: 6rem;
}

.graph__line {
  height: 2px;
  width: 100%;
  background-color: rgba(#fff, 0.2);
}

.scroller {
  overflow-x: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.graph__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  flex-shrink: 0;
  width: 100%;
  line-height: 2.2rem;
  margin-bottom: 2.8rem;
  @media (max-width: 767px) {
    font-size: 1.7rem;
  }
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.graph__bar {
  width: 50px;
  text-align: center;
  position: relative;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, .2) 3%, rgba(255, 255, 255, .6) 100%);

  flex-shrink: 0;
  margin-left: 3.5rem;
  margin-right: 3.5rem;

  flex-basis: auto;
}

.graph__value,
.graph__legend {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: bold;
}

.graph__value {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20px);

  @media (max-width: 767px) {
    font-size: 1.7rem;
  }
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.graph__legend {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60px);
  @media (max-width: 767px) {
    font-size: 1.6rem;
  }
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}
