.col-sm-6 {
  width: 100%;
  @media (min-width: 544px) {
    width: 50%;
  }
}

.col-md-6 {
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
  }
}

.col-md-3 {
  width: 100%;
  @media (min-width: 768px) {
    width: 25%;
  }
}
