.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

  z-index: 91;
  border-top: 2px solid rgba(#fff, 0.2);
}

.nav--initial {
  border-top: 0;

  .nav__left,
  .nav__right {
    visibility: hidden;
  }
}

.nav--outro {
  background-color: #1f1f21;

  .nav__right {
    visibility: hidden;
  }
}

.nav__inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    height: 4.8rem;
  }
  @media (min-width: 768px) {
    height: 6rem;
  }
}

.nav__left,
.nav__right {
  display: flex;
  @media (max-width: 767px) {
    width: 10rem;
  }
  @media (min-width: 768px) {
    width: 12.4rem;
  }
}

.nav__logo {
  align-self: center;

  svg {
    display: block;
    @media (max-width: 767px) {
      width: 51px;
      height: 20px;
    }
    @media (min-width: 768px) {
      width: 60px;
      height: 23px;
    }
  }
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 767px) {
    width: 5rem;
  }
  @media (min-width: 768px) {
    width: 6.2rem;
  }
}

.nav-item--prev,
.nav-item--next {
  @media (max-width: 767px) {
    svg {
      height: 24px;
      width: 14px;
    }
  }
}

.nav-item--prev {
  border-right: 2px solid rgba(#fff, 0.2);
}

.nav-item--share {
  border-left: 2px solid rgba(#fff, 0.2);
  border-right: 2px solid rgba(#fff, 0.2);
  position: relative;

  @media (max-width: 767px) {
    img {
      height: 26px;
      width: 26px;
    }
  }
}

.share-box {
  width: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 20px));
  visibility: hidden;

  &.is-active {
    visibility: visible;

    button {
      opacity: 1;
      visibility: visible;
    }

    .share-box__item {
      &:nth-child(5) {
        button {
          transition-delay: 0.05s;
        }
      }

      &:nth-child(4) {
        button {
          transition-delay: 0.1s;
        }
      }

      &:nth-child(3) {
        button {
          transition-delay: 0.15s;
        }
      }

      &:nth-child(2) {
        button {
          transition-delay: 0.2s;
        }
      }

      &:nth-child(1) {
        button {
          transition-delay: 0.25s;
        }
      }
    }
  }
}

.share-box__item {
  margin-bottom: 1.5rem;

  button {
    transition: visibility 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  &:nth-child(5) {
    button {
      transition-delay: .25s;
    }
  }

  &:nth-child(4) {
    button {
      transition-delay: .2s;
    }
  }

  &:nth-child(3) {
    button {
      transition-delay: .15s;
    }
  }

  &:nth-child(2) {
    button {
      transition-delay: .1s;
    }
  }

  &:nth-child(1) {
    button {
      transition-delay: .05s;
    }
  }
}
