.outro {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  dl {
    color: #fff;
    margin: 1.5rem 0;
    text-transform: uppercase;
  }

  dt {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  dd {
    font-family: 'Conv_GretaDisplayPro Regular';
    font-size: 1.9rem;
    line-height: 2.3rem;
    margin-bottom: 0.7rem;
    margin-left: 0;
  }
}

.outro-overflow {
  position: relative;
  height: 100%;
  width: 100%;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 40px;
  //   background-image: linear-gradient(transparent, rgba(#1f1f21, 0.6));
  //
  //   z-index: 9;
  // }
}

.outro-wrap {
  overflow: auto;
  display: flex;
  width: 100%;

  padding-bottom: 2rem;

  position: relative;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  @media (max-width: 767px) {
    height: calc(100vh - 5rem);
  }
  @media (min-width: 768px) {
    padding-top: 9rem;
    height: calc(100vh - 6.2rem);
  }
}

.ios {
  .outro-wrap {
    height: calc(100vh - 12rem);
  }
}

.outro__header {
  @media (max-width: 767px) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid rgba(#fff, 0.2);
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(#fff, 0.2);
    padding: 1.5rem 0;
  }
}

.outro__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.outro__title {
  font-family: 'Conv_fedra-display-heavy';
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #fff;
  text-shadow: 0 0 5px rgba(#000, .2);

  @media (max-width: 767px) {
    text-align: center;
    padding: 4rem 0;
  }
}

.outro__discuss {
  @media (max-width: 767px) {
    button {
      display: block;
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
  @media (min-width: 768px) {
    margin-right: 1rem;
  }
}

.outro__social {
  white-space: nowrap;
  display: flex;

  button {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
  }
}

.outro__share {
  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .outro__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 0 auto;
    width: 0;
  }

  .outro__share {
    width: 410px;
  }
}

.interest-title {
  font-family: Open Sans, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.interest-box {
  color: #fff;
  border-radius: 2px;
  background-color: rgba(#fff, 0.2);
  height: 11rem;
  padding: 2rem;
  margin-bottom: 3rem;
  display: block;
  text-align: left;
}

.interest-box__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.interest-box__text {
  font-family: 'Conv_GretaDisplayPro Regular';
  font-size: 1.8rem;
  line-height: 2.2rem;

  max-height: 4.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
