.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

.video-caption {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0 0 6rem;
  text-align: center;
}

.audio-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.audio-box__icon {
  margin-right: 2rem;
}

.audio-box__caption {
  flex: 1 1 auto;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  @media (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

.video-box {
  margin-bottom: 1.5rem;
  text-align: center;
}
