// Colors
$barColor: #fff;
$overlayColor: #fffde8;
$backColor: #2f3439;
$greyColor: #7a7b79;

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  transition: all 0.3s ease;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // border: 2px solid $backColor; // remove gradient color
  background-color: $greyColor; // default 100%

}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 45px;
  height: 45px;
  // background-color: rgba(#fff, 0.2);
  background-color: #7a7b79;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 45px;
  font-size: 16px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */

$step: 1; // step of % for created classes

$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    transition: all 0.3s ease;
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $greyColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $greyColor 50%, $greyColor);
    }

    @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $greyColor 50%, $greyColor);
    }
  }
}
