.story {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  height: 100%;
  width: 100%;

  @media (max-width: 767px) {
    padding-bottom: 5rem;
  }
  @media (min-width: 768px) {
    padding-bottom: 6.2rem;
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;

  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;

  // overflow: hidden;

  &.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 90;
  }

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @media (max-width: 767px) {
      background-image: linear-gradient(-180deg, rgba(31, 31, 32, 0) 33%, rgba(#1f1f21, .9) 93%);
    }
    @media (min-width: 768px) {
      background-image: linear-gradient(-180deg, rgba(31, 31, 32, 0) 57%, rgba(#1f1f21, .9) 93%);
    }
  }

  &--dark {
    &:before {
      background-image: linear-gradient(-180deg, rgba(31, 31, 32, .66) 58%, #1f1f21 93%);
    }
  }

  &--graph {
    padding-top: 9rem;

    &:before {
      background-image: linear-gradient(-180deg, rgba(31, 31, 32, .66) 58%, #1f1f21 93%);
    }
  }

  &--intro {
    padding-bottom: 6.2rem;

    &:before {
      background-image: linear-gradient(-180deg, rgba(31, 31, 32, 0) 0%, #1f1f21 100%);
    }
  }

  &--outro {
    background-image: url('../img/outro.jpg');
  }

  &--bulk {
    background-color: #1f1f21;

    &:before {
      display: none;
    }
  }
}

.ios--landscape {
  .story--graph {
    padding-top: 2rem;
  }
}


.story__content {
  color: #fff;

  // max-height: 12rem;
  overflow-y: auto;
  width: 100%;

  // @media (max-width: 767px) {
  //   padding-bottom: 2rem;
  // }

  @media (max-width: 767px) {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    margin: 0 0 4.5rem;
  }

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.story__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 1.3rem;

  @media (max-width: 767px) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  @media (min-width: 768px) {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

.story__text {
  font-family: 'Conv_GretaDisplayPro Regular';
  @media (max-width: 767px) {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  @media (min-width: 768px) {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 50px;
  //   background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 18%, #fff 81%);
  // }
}

.intro {
  h1 {
    font-family: 'Conv_fedra-display-heavy';
  }

  h2 {
    font-family: 'Conv_GretaDisplayPro Regular';
    font-weight: 400;
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 3.5rem;
      line-height: 4rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.7rem;
      line-height: 2.2rem;
      margin-bottom: 5.4rem;
    }
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 7rem;
      line-height: 9rem;
      margin: 0 0 3rem;
    }

    h2 {
      font-size: 2.4rem;
      line-height: 3rem;
      margin-bottom: 9rem;
    }
  }
}

.bulk-box {
  // background-color: rgba(#fff, 0.2);
}

.bulk-box--wide {
  flex-shrink: 0;
  width: 970px;
  height: 250px;

  margin-left: auto;
  margin-right: auto;
}

.bulk-box--centered {
  width: 300px;
  height: 250px;

  // @media (max-width: 767px) {
  //   height: 200px;
  //   max-width: 200px;
  // }
  // @media (min-width: 768px) {
  //   height: 500px;
  //   max-width: 500px;
  // }
}
