.timeline {
  // designed height: 5.1rem;
  // height with scrollbar: 6.5rem;
  height: 6.5rem;
  flex-shrink: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  @media (max-width: 767px) {
    // designed margin: 3rem;
    margin-bottom: 1.6rem;
  }
  @media (min-width: 768px) {
    // designed margin: 4.8rem;
    margin-bottom: 3.4rem;
  }
}

.timeline__axis {
  width: 1100px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #fff;
}

.timeline__entry {
  position: absolute;
  top: -7px;
}

.timeline__dot {
  transition: background-color 0.3s ease;
  height: 16px;
  width: 16px;
  background-color: #1f1f21;
  background-image: linear-gradient(0deg, rgba(#fff, .6) 0%, rgba(#fff, .2) 100%);
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &.is-active {
    background-color: #fff;
  }
}

.timeline__year {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30px);

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

.timeline-text {
  flex: 1 1 auto;
  margin: 3rem 0;
  position: relative;
}

.timeline-item {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  visibility: hidden;
  opacity: 0;
  color: #fff;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  time {
    line-height: 2.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: block;
    @media (max-width: 767px) {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    @media (min-width: 768px) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  p {
    font-family: 'Conv_GretaDisplayPro Regular';
    margin: 0;
    @media (max-width: 767px) {
      font-size: 1.7rem;
      line-height: 2.2rem;
    }
    @media (min-width: 768px) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
}
