html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}

html,
body {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #1f1f21;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.stretch-x {
  width: 100%;
}

.stretch-y {
  height: 100%;
}

.truncate {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  width: 100%;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.fade {
  transition: opacity 0.3s ease;
}

.is-sharing {
  opacity: 0.04;
}
