@font-face {
	font-family: 'Conv_fedra-display-heavy';
	src: url('../fonts/fedra/fedra-display-heavy.eot');
	src: local('☺'), url('../fonts/fedra/fedra-display-heavy.woff') format('woff'), url('../fonts/fedra/fedra-display-heavy.ttf') format('truetype'), url('../fonts/fedra/fedra-display-heavy.svg') format('svg');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Conv_GretaDisplayPro Regular';
  src: url('../fonts/greta/GretaDisplayPro Regular.eot');
  src: local('☺'), url('../fonts/greta/GretaDisplayPro Regular.woff') format('woff'), url('../fonts/greta/GretaDisplayPro Regular.ttf') format('truetype'), url('../fonts/greta/GretaDisplayPro Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
