.fw-700 {
  font-weight: 700;
}

.f-OpenSans {
  font-family: 'Open Sans', sans-serif;
}

.f-Greta {
  font-family: 'Conv_GretaDisplayPro Regular';
}

.f-Fedra {
  font-family: 'Conv_fedra-display-heavy';
}

.fs1-8 {
  font-size: 1.8rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs2-4 {
  font-size: 2.4rem;
}
